header {
    align-items: center;
    background-color: var(--color-primary);
    display: flex;
    height: 60px;
}

.dsmovie-nav-content {
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.dsmovie-nav-content h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.dsmovie-contact-container {
    align-items: center;
    display: flex;
}

.dsmovie-contact-link {
    font-size: 12px;
    margin: 0 0 0 0.5rem;
}